<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/insta"><i class="fa-brands fa-instagram"></i></a>
            <a href="/twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="/youtube"><i class="fa-brands fa-youtube"></i></a>
            <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="f-info-brand">
           &copy; TripNest Private Limited 
        </div>
        <div class="f-info-links">
            <a href=".privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>