<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <br><br><br>
        <h2>Add New Listing:-</h2>
        <div class="row">
            <div class="col-8 offset-2">
                <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title of new Listing</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter a Title" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Add description</label>
                        <textarea class="form-control" name="description"
                            placeholder="Your description show here" required></textarea>

                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Enter Image URL</label>
                        <input type="text" name="image[url]" class="form-control" placeholder="Image Url/link">
                    </div> -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload listing image</label>
                        <input type="file" name="image[url]" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="price" class="form-control" required>
                            <div class="invalid-feedback">
                            Please enter a valid price!
                        </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="location" class="form-control" required>
                            <div class="invalid-feedback">
                            Please enter a location
                        </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a country name
                        </div>
                    </div>

                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br><br><br><br>
                </form>
            </div>
        </div>
    </body>